body {
  background: #e6e6e6;
  font-weight: 300; }

.toolbar {
  background: #3949ab;
  height: 56px;
  color: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center; }

.logo {
  margin: 0 24px;
  font-size: 20px; }

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; }

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 16px 8px 0 8px;
  width: calc(100vw - 16px); }

.card-form {
  margin: 16px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.headline {
  margin: 24px 0 16px 0;
  font-size: 24px; }

.todo-list {
  max-height: 40vh;
  overflow: auto; }

.list-item,
.new-item {
  margin: 16px 0 24px 0;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.item-input {
  margin-right: 16px;
  width: 24px; }

.item-text {
  width: 100%;
  position: relative; }

.item-button {
  margin-left: 16px;
  width: 24px; }

input.item-checkbox {
  margin-right: 16px;
  width: 20px;
  height: 20px; }

input::placeholder {
  color: #9E9E9E; }

::-moz-placeholder {
  opacity: 1; }

button {
  outline: none;
  border: 0;
  background: none;
  padding: 0; }
  button.item-delete {
    height: 34px;
    border-radius: 180px;
    width: 34px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden; }

input.item-submit {
  background: white;
  margin: 0;
  border-radius: 180px;
  font-size: 26px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: #9e9e9e; }

/* Ripple magic */
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  60% {
    transform: scale(25, 25);
    background: #DAD7D7;
    opacity: 0.5; }
  100% {
    opacity: 0;
    transform: scale(40, 40);
    background: #DAD7D7; } }

input {
  border: 0;
  outline: none;
  background: transparent; }
  input.item-input--tag {
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
    font-size: 16px; }

.bar {
  position: relative;
  display: block;
  width: 100%; }
  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background: #3949ab;
    transition: 0.2s ease all; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%; }

button {
  outline: none; }
  button.fab-button {
    width: 56px;
    height: 56px;
    border-radius: 180px;
    background: #f50057;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4); }
    button.fab-button:focus:not(:active)::after {
      animation: ripple 1s ease-out; }

button.delete-button {
  min-width: 64px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
  cursor: pointer; }
  button.delete-button:hover {
    background: rgba(233, 30, 99, 0.12); }
  button.delete-button:focus {
    background: rgba(233, 30, 99, 0.4); }

.clear-list,
.delete-list {
  padding-right: 8px;
  margin: 32px 8px 8px 8px; }

.list-button {
  display: flex; }

.task-isDone {
  text-decoration: line-through;
  color: #c3c3c3; }

.button-visible {
  display: block; }

@media (min-width: 720px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .card {
    width: calc(32vw - 16px);
    justify-content: space-between; } }

@media (min-width: 1024px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .card {
    width: calc(32vw - 16px);
    justify-content: space-between; } }

@media (min-width: 1440px) {
  .card {
    height: 100%;
    width: calc(20vw - 16px);
    justify-content: space-between; } }
